{erl_opts,[debug_info]}.
{lib_dirs, ["."]}.
{deps_dir, ["deps","ebin",".."]}.
{deps, []}.
{erl_first_files,["ecirca_pt"]}.
{port_specs, [{"priv/ecirca_small.so", ["c_src/ecirca_small.c"]},
              {"priv/ecirca_medium.so", ["c_src/ecirca_medium.c"]},
              {"priv/ecirca_large.so", ["c_src/ecirca_large.c"]}]}.
{port_env, [{"darwin", "CC", "clang"},
            {"darwin", "LDFLAGS", " -bundle -flat_namespace -undefined suppress"},
            {"DRV_CFLAGS",  "-O3 -fPIC -march=native -mtune=native -Wall -Wextra"},
            {"darwin", "CFLAGS", " -std=c99 -Wall -Wextra -pedantic"}]}.
{pre_hooks, [{compile, "./priv/codegen.sh"}]}.

